<!DOCTYPE html>
<html>
<head>
	<meta charset = "utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= content_for?(:title) ? yield(:title) : "angularails" %></title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "angular-application" %>
</head>
<body>
	<div class="navbar navbar-inverse">
		<div class="container">
			<a class="navbar-brand" href="#">Angularails</a>
		</div>
	</div>

	<div class="container">
		<%= yield %>
	</div>
</body>
</html>